@font-face{
    font-family:"SportsEASports";
    src:url(../fonts/Sports_EA_Sports.ttf);

}

body {
    font-family: SportsEASports !important;
}

.main-background {
    background-image: url('../img/main-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.ea-logo {
    background-image: url('../img/ea-logo-small.png');
    background-repeat: no-repeat;
    width: 250px;
    height: 54px;
    background-size: contain;
}

.light-blue-panel {
    background-color: #D1E5F0 !important;
    border: none !important;
    border-radius: 0px !important;
}
.light-gradient-panel {
    background: linear-gradient(to right, #D1E5F0, white);
}

.user-info{
    height: 60px;
    width: 500px;
    -webkit-clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(15% 0, 100% 0, 100% 100%, 0 100%);
    position: relative;
    top: 0px
}

#user-name {
    margin-left: 50px;
    padding-left: 230px;
    text-transform: uppercase;
    background: linear-gradient(to right, #457B87, white);
}

#fav-team-logo {
    background-image: url('../img/team-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 2px;
    right: 0px;
    width: 56px;
    height: 56px;
}

.container {
    margin-top: 50px;
}

.main-content {
    margin-top: 50px;
}

.navbar-default {
    max-width: 750px;
    text-transform: uppercase;
    font-weight: bold;
    color: #457B87 !important;
    margin-bottom: 0px !important;
    min-height: 40px !important;
}

.navbar-default a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    border-right: 1px solid #457B87;


    font-family: SportsEASports;
    letter-spacing: 1px;
}

.navbar-default li{
   padding-top: 5px !important;
   padding-bottom: 5px !important;
}

.navbar-default li:hover {
    color: white !important;
    background-color: #457B87 !important;
}

.navbar-default a:hover {
    color: white !important;
    background-color: #457B87 !important;
}

.navbar-collapse{
    padding-left: 0px !important;
}
.container-fluid {
    padding-left: 0px !important;
}

.col-lg-12 {
    padding-left: 0px !important;
}

.main-view {
    margin-top: 20px;
    height: 476px;
}

.two-large-panels {
    height: 66%;
}

.two-small-panels {
    margin-top: 15px;
    height: 33%;
}

.ui-panel {
    height: 100%;
    width: 48%;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.ui-panel:hover {
    background: #459DA9 !important;
    position: relative;
    top: 7px;
    left: 7px;

}

video {
    position: absolute;
    bottom: 0px;
    width: 100%    !important;
    height: auto   !important;
}

.team-crest-1 {
    background-image: url('../img/bayern.png');
    background-repeat: no-repeat;
    background-size: contain;
position: absolute;
    top: 15px;
    left: 30px;
    width: 130px;
    height: 130px;
}

.team-crest-2 {
    background-image: url('../img/dortmund.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 15px;
    right: 30px;
    width: 130px;
    height: 130px;
}

.match-score {
    height: 100%;
    font-size: 50px;
    text-align: center;
}

.match-score span {
    line-height: 155px;
    vertical-align: middle;
}

.fill {
    min-height: 100%;
    height: 100%;
}

span.score-separator {
    width: 25px;
    height: 10px;
    background-color: #0c3a3e;
    display: inline-block;
}

.photo1 {
    background-image: url('../img/cavani1.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0px;
    left: 245px;
    width: 400px;
    height: 314px;
}

.angular-logo {
    background-image: url('../img/angular-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    //position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    height: 300px;
}

.tremend-logo {
    background-image: url('../img/tremend.png');
    background-repeat: no-repeat;
    background-size: contain;
    //position: relative;
    top: 20px;
    left: 110px;
    width: 300px;
    height: 300px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    opacity: 1;
    position: relative;
    top: 100px;
    left: 400px;

}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.loader-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    z-index: 1000000;
    top: 0px;
    opacity: 0.6;
}