<div class="two-large-panels col-lg-12">

    <div class="large-panel ui-panel light-blue-panel">

        <media-renderer  content="play.mediaContent[0]"></media-renderer>

    </div>



    <div class="large-panel ui-panel light-gradient-panel">
        <media-renderer  content="play.mediaContent[1]"></media-renderer>

    </div>
</div>

<div class="two-small-panels col-lg-12">

    <div class="small-panel ui-panel light-blue-panel">


    </div>

    <div class="small-panel ui-panel light-gradient-panel">

    </div>

</div>