<div class="two-large-panels col-lg-12">

    <div class="large-panel ui-panel light-blue-panel">


    <div ng-if="!newsDisplayed" >
            <a ui-sref="match-day.news({newsId: 1})">Get me some news!</a>
    </div>

    <div ui-view=""></div>


    </div>



    <div class="large-panel ui-panel light-gradient-panel">

    </div>
</div>

<div class="two-small-panels col-lg-12">

    <div class="small-panel ui-panel light-blue-panel">

        <div ng-controller="ClickerController as clicker">

            <button ng-click="clicker.registerClick()">I CHALLENGE YOU TO CLICK ME!</button>
        </div>

    </div>

    <div class="small-panel ui-panel light-gradient-panel">

    </div>

</div>