<div style="position: relative;">

    <h1>{{news.currentNews.title}}</h1>
    <p>
        {{news.currentNews.content}}
    </p>
    <img src="{{news.currentNews.thumbnail}}" height="175">


    <br/>
    <a style="position: absolute; bottom: 0px; right: 0px" ui-sref="match-day.news({newsId: news.nextNewsId})">Get next news!</a>
</div>