<div class="two-large-panels col-lg-12">

    <div class="large-panel ui-panel light-blue-panel">

            <div class="photo1"></div>
            <div class="angular-logo"></div>

    </div>

    <div class="large-panel ui-panel light-gradient-panel">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/AfeDwkIaHNY" frameborder="0"
                allowfullscreen></iframe>
    </div>
</div>

<div class="two-small-panels col-lg-12">

    <div class="small-panel ui-panel light-blue-panel">

        <div class="col-lg-4">
            <div class="team-crest-1">

            </div>
        </div>
        <div class="col-lg-4 fill" ng-controller="LatestMatchController">


            <match-directive>

            </match-directive>
        </div>

        <div class="col-lg-4">
            <div class="team-crest-2">

            </div>
        </div>

    </div>

    <div class="small-panel ui-panel light-gradient-panel">


        <div class="tremend-logo">

        </div>
    </div>

</div>