<div class="modal fade" tabindex="-1" role="dialog" id="my-popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal</h4>
            </div>
            <div class="modal-body">
                <div ng-transclude="">

                </div>
            </div>
        </div>
    </div>
</div>

